.navbar-brand {
    color: #345 !important;
    font-size: 21px;
    line-height:12px;
    padding-top:13px;
    padding-bottom:5px;
    padding-right: 30px;
}

.navbar-brand small {
    color: #aaa;
    margin-top: 5px;
font-weight: normal;
  display:block;
  font-size:12px;
}
.breadcrumb{overflow: hidden;}
/*.pagination-links{float: right;}*/
.next-prev{display: inline-block; margin-left: 20px;}
#quote{display:inline-block; float: right;}
@media(max-width: 425px){
    .nav-link{float: left;}
    .navbar-brand small{display: none;}
}
@media(max-width: 769px){
    .next-prev{display: block; margin: 10px 0; overflow: hidden;}
     #quote{display: block;  margin-top: 10px; float: left;}
}
.h1-margin{margin-top: 20px; margin-bottom: 10px;}
.panel ul{list-style: none; padding-left: 10px;}



.result, .user-answer{font-size: 14px; }
.answer{visibility: hidden; height:0; padding:0 10px; margin:0;}
.result{padding: 0 10px; margin-bottom: 0;}
.translation{padding: 0 10px; margin-bottom: 0;}
.wrong{color: red;}

table, td{ vertical-align: top; padding: 0px 3px 10px 3px;}
table{margin-bottom: 25px;}

.user-info{padding: 15px 0; margin: 0 15px;}

.stats-table{width: 100%;}
.stats-table th{padding-bottom: 15px; padding-left: 5px; text-align: center;}
.stats-table td{text-align: right;}
.stats-table .date{width: 100px;}
.stats-table .word-count{width: 65px;}
.column{background: #337ab7; color: white; border-radius: 0 5px 5px 0; padding: 10px; margin: 5px 0;}

.faqs h3{margin-top: 40px;}
.faqs h4{margin-top: 0px; margin-bottom: 5px;}
.faqs p{margin-bottom: 5px;}
.faqs ol > li{margin-bottom: 25px;}